<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <title>Test Mail</title>
  </head>
  <body>
    <h1>This is test mail</h1>
    <p>Hi, {{name}}</p>
    <p>This is a test mail<br />Thank you</p>
  </body>
</html>
